{% extends 'manager/recuirtment_home.html' %}
{% block recuirtmenthome %}
<form action="{% url 'deletee' %}"method="post">
    {% csrf_token %}
<table align="center" border="10" bgcolor="black">
    <tr><th colspan="6"><h1 style="text-align: center;color: white">Delete Page</h1></th></tr>
    <tr style="color:deeppink;">
       <h3> <th>----</th>
        <th>Oppertunity-Code</th>
        <th>Qualfication</th>
        <th>Registration-Start-From</th>
           <th>Age-Limit</th></h3>
    </tr>
    {% for x in data %}
    <tr style="color:white"><th><input type="checkbox" value="{{ x.OPPERTUNITY_CODE }}" name="d1"></th>
        <th>{{ x.OPPERTUNITY_CODE }}</th>
        <th>{{ x.QUALIFICATION }}</th>
        <th>{{ x.REGISTRATION_START_FROM }}</th>
        <th>{{ x.AGE_LIMT }}</th>
    </tr>
    {% endfor %}
    <tr style="text-align: center"><th colspan="6"><button type="submit">DELETE</button></th colspan="6"></tr>
</table>
</form>{% endblock %}
