
<form action="{% url 'modify' %}" method="post">
    {% csrf_token %}

<table align="center" border="0" width="400" bgcolor="#98fb98" style="height: 300px">
    <tr><th><h2 style="text-align: center;color: crimson">UPDATE DETAILs</h2></th></tr>
    <tr style="text-align: center;width: 150px"><th>Oppertunity Code:<input type="number"  value="{{ data.OPPERTUNITY_CODE }}"  name="t1" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>Qualification:<input type="text" name="t2"  value="{{ data.QUALIFICATION }}"></th></tr>
    <tr style="text-align: center;width: 150px"><th> Registration Start From:<input type="date"  value="{{ data.REGISTRATION_START_FROM }}" name="t3" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>Age Limit:<input type="number" value="{{ data.AGE_LIMT }}" name="t4" ></th></tr>
    <tr style="text-align: center;width: 150px"><th> Last Date To Apply:<input type="date"  value="{{ data.LAST_DATE_TO_APPLY}}" name="t5" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>Department ID:<input type="number" value="{{ data.DEPARTMENT_ID}}" name="t6" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>No Of Position:<input type="number" value="{{ data.NO_OF_POSITION}}" name="t7" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>Description:<input type="text" value="{{ data.DESCRIPTION}}" name="t8" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>Resposibilities:<input type="text" value="{{ data.RESPOSIBITIES}}" name="t9" ></th></tr>
    <tr style="text-align: center;width: 150px"><th>ContactNO:<input type="number" value="{{ data.CONTACT_NO}}" name="t10" ></th></tr>
    <tr style="text-align: center;width: 150px"><th><button type="submit">Modify</button></th></tr></table></form>