{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>SSSK </title>
      </head>
         <body ><table align="center" border="0" width="600" style="height: 500px" ><tr style="text-align: center"><th>Home Screen</th></tr>
             <tr style="text-align: center"><th bgcolor="orange" ><h2>HR OPERATION MANAGEMENT</h2></th></tr>
         <tr><th bgcolor="blanchedalmond">
             <nav class="navbar navbar-expand-lg navbar-light bg-red">
                   <a class="navbar-brand" href="{% url 'index' %}"> <h5>HOME</h5></a>
                   <a class="navbar-brand" href="{% url 'HRadmin' %}"> <h5>Admin</h5></a>
                   <a class="navbar-brand" href="{% url 'manager' %}"> <h5>Manager</h5></a>
                   <a class="navbar-brand" href="{% url 'applicantlogin' %}"><h5>Applicant</h5></a>
                   <a class="navbar-brand" href="#"> <h5>Inteviwer</h5></a>
                   <a class="navbar-brand" href="#"> <h5>HRhead</h5></a>
               </nav></th></tr>
         <tr><th style="text-align: center;background-color:blanchedalmond"><img src="{% static 'images/hr3.jfif' %}" height="200" width="300" ></th></tr>
         </table>
        {% block sample_common %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>